$english_font: 'Gemunu Libre', sans-serif;

.pokeDex {
    background-color: #E3350D;
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    .title {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 510px;
        position: fixed;
        top: 0;
        left: 0;
    }

    .pokePanel {
        height: 98vh;
        border: 3px solid black;
        border-radius: 20px;
        width: 25vw;
        min-width: 340px;
        display: flex;
        position: relative;
        background-color: beige;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(20px);
        align-items: center;

        .panel_title {
            font-family: $english_font;
            font-size: 40px;
            text-align: center;
            width: 100%;
        }

        .subtitle {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
        }

        .dex_range {
            font-size: calc(11px + 1vw);
        }

        .panel_change_one {
            position: relative;
            font-family: $english_font;
            font-size: calc(11px + 1vw);
            height: 50px;
            text-align: center;
        }

        .panel_change_one::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0%;
            border-bottom: black 5px solid;
            transition: 0.6s;
            z-index: 400;
        }

        .panel_change_one:hover::before{
            width: 100%;
        }

        .types {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .current_type {
            width: 80%;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow-x: visible;
            img {
                position: absolute;
                left: 0;
                transform: translateX(calc(-50% + 10px));
                width: 80px;
                height: 80px;
            }

            .type {
                width: 100%;
                height: 100%;
                border: 1px solid black;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-family: $english_font;
            }
        }
    }
    .pokedex_main {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
        overflow-y: scroll;
        scroll-snap-type: y proximity;
        width: 73vw;
        // padding-block: 20px;
    }
    
    
}
